{% extends 'base.html.twig' %}

{% block body %}
    <table class="uk-table uk-table-middle" id="table_banControlSystem">
        <thead>
        <tr>
            <th><span> ID </span></th>
            <th><span> Домен   </span></th>
            <th><span> status  </span></th>
            <th><span> IP </span></th>
            <th><span> Категория  </span></th>
            <th><span> Телефон  </span></th>
            <th><span> Oтслеживать  </span></th>
            <th><span> оповещение по домену  </span></th>
            <th><span> оповещение по IP  </span></th>
            <th><span> Удалить </span></th>
        </tr>
        </thead>
        <tbody>
        {% for domain in domains %}
            <tr>
                <td>{{ domain.id }}</td>
                <td>
                    <a class="ban_domain" href="//{{ domain.url }}" target="_blank">{{ domain.url }}</a>
                </td>
                <td>
                    <span class="ban_value">
                        {% if domain.isDomainBan == true and domain.isIpBan == true %}
                            domain-ban  ip-ban
                        {% elseif domain.isDomainBan == true %}
                            domain-ban
                        {% elseif  domain.isIpBan == true %}
                            ip-ban
                        {% else %}
                            ok
                        {% endif %}
                    </span>
                </td>
                <td>
                    <span class="ban_ip">{{ domain.ip }}</span>
                </td>
                <td>
                    <span class="ban_ip" span_dom_cat="{{ domain.category }}">
                        {% for category in categories %}
                            {% if domain.category == category.id %}
                                {{ category.name }}
                            {% endif %}
                        {% endfor %}
                        {% if domain.category is null %}
                            <select class="select_domain_category" domain_id="{{ domain.id }}">
                                <option value="null">без категории</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </span>
                </td>
                <td>
                    <span span_dom_phone="{{ domain.phone }}">
                        {% for phone in phones %}
                            {% if domain.phone == phone.id %}
                                {{ phone.phoneNumber }}
                            {% endif %}
                        {% endfor %}
                        {% if domain.phone is null %}
                            <select class="select_domain_phone" domain_id="{{ domain.id }}">
                                <option value="null">телефоныи</option>
                                    {% for phone in phones %}
                                        <option value="{{ phone.id }}">{{ phone.phoneNumber }}</option>
                                    {% endfor %}
                                </select>
                        {% endif %}
                    </span>

                </td>
                <td>
                    <label class="ban_track">
                        <input class="ban_checkbox" type="checkbox" {{ domain.track ? 'checked' : '' }}
                               track={{ domain.id }}>
                        <span class="ban_checkbox__vision"></span>
                    </label>
                </td>
                <td><label class="ban_domainAlert">
                        <input class="ban_checkbox" type="checkbox" {{ domain.trackDomain? 'checked' : '' }}
                               track_domain={{ domain.id }}>
                        <span class="ban_checkbox__vision"></span>
                    </label>
                </td>
                <td><label class="ban_IPAlert">
                        <input class="ban_checkbox" type="checkbox" {{ domain.trackIp ? 'checked' : '' }}
                               track_ip={{ domain.id }}>
                        <span class="ban_checkbox__vision"></span>
                    </label></td>
                <td>
                    <button class="btn_delite" type="button" domain_id="{{ domain.id }}"></button>
                </td>
            </tr>
        {% endfor %}
    </table>

    <button id="btn_addAdress" class="uk-button uk-button-secondary uk-button-small" type="button">add</button>

    <div class="bl_addAdress">

        <button id="btn_close__addAdress" type="button"></button>


        <input class="addItAdress" type="text" title="addIpAdress" placeholder="Добавить домен...">
        <button class="bl_addAdress__btn uk-button uk-button-secondary" id="addNewDomain" type="button">Добавить
        </button>
        <input class="addItCategorie" type="text" title="addIpAdress" placeholder="Добавить категорию...">
        <button class="bl_addAdress__btn uk-button uk-button-secondary" id="addNewCategory" type="button">Добавить
        </button>
        <input class="addItPhone" type="text" title="addPhone" placeholder="Добавить телефон...">
        <button class="bl_addAdress__btn uk-button uk-button-secondary" id="addNewPhone" type="button">Добавить</button>

        <select class="select_chooseCategory" name="" id="">
            <option value="null">Категории</option>

            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}

        </select>

        <select class="select_choosePhone" name="" id="">
            <option value="null">Телефон</option>

            {% for phone in phones %}
                <option value="{{ phone.id }}">{{ phone.phoneNumber }}</option>
            {% endfor %}

        </select>
    </div>


    <button id="btn_filters" class="uk-button uk-button-secondary uk-button-small" type="button">search</button>

    <div class="bl_filters">

        <button id="btn_close__filters" type="button"></button>


        <p>Фильтрация по категориям</p>
        <div class="bl_categories" id="categoryFilter">
            <div class="bl_categories__item">
                <label class="bl_categories__label">
                    <input type="checkbox" name="checkbox_categories" checked filterStatus="all">
                    <span>Все</span>
                </label>
            </div>
            {% for category in categories %}
                <div class="bl_categories__item">
                    <label class="bl_categories__label">
                        <input type="checkbox" name="checkbox_categories" filterStatus="category"
                               category_id="{{ category.id }}">
                        <span>{{ category.name }}</span>
                    </label>
                    <button class="btn_categories__delite" type="button" category_id="{{ category.id }}"
                            delete_category></button>
                </div>
            {% endfor %}
        </div>

        <p>Фильтрация по телефонам</p>
        <div class="bl_categories" id="phoneFilter">
            <div class="bl_categories__item">
            </div>
            {% for phone in phones %}
                <div class="bl_categories__item">
                    <label class="bl_categories__label">
                        <input type="checkbox" name="checkbox_categories" class="domainByPhone"
                               filterStatus="phone" phone_id="{{ phone.id }}">
                        <span>{{ phone.phoneNumber }}</span>
                    </label>
                    <button class="btn_categories__delite" type="button" phone_id="{{ phone.id }}"
                            phone_delete></button>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}