html {

}

body {

    width: 100%;
    height: 100%;
    min-height: 100vh;

    color: black;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

#table_banControlSystem {
    border-collapse: collapse;
    width: 100%;
    position: relative;
    text-align: center;
}

thead th {
    position: sticky;
    top: 0;
    background: #3c3f41;
    z-index: 10;
}

#table_banControlSystem th,
#table_banControlSystem td {
    border: 1px solid #000;

    padding: 5px;
    font-weight: 500;
    text-align: center;

}

#table_banControlSystem th {
    font-weight: 700;

}

#table_banControlSystem th:nth-child(2) {
    width: 21%;
}

#table_banControlSystem th:nth-child(3) {
    width: 21%;
}

#table_banControlSystem th:nth-child(6) {
    word-wrap: normal;
    width: 12%;

}

#table_banControlSystem th:nth-child(n+7):nth-child(-n+9) {
    width: 130px;
}

#table_banControlSystem th:last-child {
    width: 70px;
}

#table_banControlSystem td label {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.ban_checkbox {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 50%;

}

.ban_checkbox__vision {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 20px;
}

.ban_checkbox__vision:before {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "OFF";
    color: #f00;
    font-weight: 600;
    font-size: 18px;
    z-index: 2;
}

.ban_checkbox:checked + .ban_checkbox__vision:before {
    content: "ON";
    color: #47d800;
}

.btn_delite {
    position: relative;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M38.6 32.5c-.9-.6-2.6-.5-4-.4l-3.3-3.3c.3-.3.6-.7.7-1.2 0 0 .7-1.7-1.1-3.8 0 0-.5-2 .1-4.2.5-1.9.7-4.9-.3-7.7L34.6 8c1.4.1 3.1.2 4-.4.2-.1.5-.3.6-.5.7-.7.9-1.6.6-2.5-.1-.4-.3-.8-.6-1.1-.5-.5-1.3-.8-2-.7.1-1.2-.7-2.3-1.8-2.7-.9-.2-1.8 0-2.5.6-.2.2-.3.4-.5.6-.6.9-.5 2.6-.4 4l-3.1 3.1c-.6-.7-1.3-1.4-2.1-1.9-1.6-1-3.5-1.9-7.4-2-2.5 0-6.2.4-8.9 3.3L7.9 5.4c.1-1.4.2-3.1-.4-4-.1-.3-.2-.5-.4-.7C6.4.1 5.4-.1 4.6.1 3.4.4 2.7 1.6 2.8 2.8c-.8-.1-1.5.2-2.1.7-.3.3-.5.7-.6 1.1-.3.9 0 1.8.6 2.5.2.2.4.3.6.5.9.6 2.6.5 4 .4l3 3c-.3.6-.5 1.2-.7 1.9 0 0-1.1 3.7.6 8.9 0 0 .2 1.5-.9 2.6-.8.9-1.6 3.6.9 4.7l-3 3c-1.4-.1-3.1-.2-4 .4-.2.1-.5.3-.6.5-.7.7-.9 1.6-.6 2.5.1.4.3.8.6 1.1.5.5 1.3.8 2 .7-.1.8.2 1.5.7 2 .3.3.7.5 1.1.6.9.3 1.8 0 2.5-.6.2-.2.3-.4.5-.6.6-.9.5-2.6.4-4l4.6-4.6c.3.6.7 1.7.9 4 0 0 .1 1.6 1.6 1.4 0 0 .7 0 .9-3.2 0 0 .8-.8.8 1.1 0 0-.2 2.2 1.2 2 0 0 .8.5 1.1-1.9 0 0 0-2.1.7-1.3 0 0 .2 3 1.1 3.3 0 0 1.3.4 1.5-1.3 0 0 0-2.6.7-2.2 0 0 .3.2.3 1.8 0 0 0 1.7 1 1.6 0 0 1.1 0 1.4-2.6 0 0-.2-2.9 1.3-3.4l5.2 5.2c-.1 1.4-.2 3.1.4 4 .1.2.3.5.5.6.7.7 1.6.9 2.5.6.4-.1.8-.3 1.1-.6.6-.6.8-1.3.7-2 .7.1 1.5-.2 2-.7.3-.3.5-.7.6-1.1.2-.9 0-1.8-.6-2.5-.2-.2-.4-.3-.7-.4zm-25.4-6.4c-.5-.1-.9-.3-1.3-.5-1.3-.8-2-2.1-1.8-3.5.4-1.8 2.3-2.9 4.4-2.5.9.2 1.6.6 2.2 1.2.8.8 1.2 1.8 1 2.9-.4 1.7-2.4 2.8-4.5 2.4zm7.5 2.4c-.2.1-.3.2-.5.2-.3 0-.6-.2-.8-.5-.2.3-.5.5-.8.5-.2 0-.4-.1-.5-.2-.3-.2-.5-.7-.5-1.2 0-.1 0-.3.1-.4.2-1.1 1.8-2.4 1.8-2.4s1.6 1.4 1.8 2.4c0 .1.1.3.1.4-.2.5-.4.9-.7 1.2zm6.9-3.5c-.6.6-1.3 1-2.1 1.1-.7.1-1.4.1-2-.1-1.2-.3-2.2-1.2-2.4-2.4-.3-1.3.5-2.7 1.7-3.4.4-.3.9-.4 1.4-.5 2.1-.4 4.1.7 4.4 2.5.2.9-.2 2-1 2.8z" fill="red"/></svg>') 50% 50% no-repeat;
    background-size: cover;
    cursor: pointer;
    border: none;
    outline: none;
}

.hidden {
    display: none !important;
}

#btn_addAdress {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    max-width: 60px;
    height: 50px;
    z-index: 999;
    box-sizing: border-box;
    border: 1px;
    border-left: none;
}

.bl_addAdress {
    position: fixed;
    left: -70%;
    top: calc(50% + 50px);
    padding: 30px 10px 10px;

    background-color: #3c3f41;
    width: 100%;
    max-width: 500px;
    min-height: 100px;
    border: 1px solid #000;
    z-index: 1000;
    transition: .3s all ease-in;
}

.bl_addAdress.active {
    left: 0;
    transition: .3s all ease-in;
}

#btn_close__addAdress {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background: #767676;
    cursor: pointer;
}

#btn_close__addAdress:after {
    content: "✖";
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #f00;
    font-size: 28px;
    font-weight: 600;
}

.bl_addAdress input {
    width: 200px;
    height: 30px;
    margin: 10px;
    margin-right: 0;
    font-size: 18px;
}

.bl_addAdress select {
    margin: 10px;
    margin-right: 0;
    width: 200px;
    height: 30px;
    font-size: 18px;
}

.bl_addAdress button {
    color: #fff;
    width: 220px;
    line-height: 40px;
    border-radius: 6px;
    outline: none;
    font-size: 18px;
    text-transform: inherit;
}

.bl_addAdress button:after {
    content: "✔";
    margin-left: 4px;
    margin-right: 10px;
    font-size: 24px;
}

#btn_filters {
    position: fixed;
    top: 50%;
    right: 0;
    width: 100%;
    max-width: 100px;
    height: 50px;
    z-index: 999;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-right: none;
    transition: all .3s;
}

.bl_filters {
    position: fixed;
    top: 0;
    right: -70%;
    width: 320px;
    height: 100%;
    padding-left: 10px;
    padding-top: 40px;
    z-index: 1000;
    border: 1px solid #000;
    background-color: #3c3f41;

    transition: all .3s ease-in;
}

.bl_filters.active {
    right: 0;
    transition: all .3s ease-in;
}

.bl_filters p {
    text-align: center;
    font-size: 18px;
}

#btn_close__filters {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    outline: none;
    background-color: #767676;
    cursor: pointer;
    border: none;
    z-index: 1001;
}

#btn_close__filters:after {
    content: "✖";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f00;
    font-size: 26px;
    font-weight: 600;
}

.bl_categories {
    position: relative;
    width: 100%;
    height: 300px;
    padding: 10px 0;
    overflow: auto;
    background-color: #56595b;

}

.bl_categories__item {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
}

.bl_categories__label {
    position: relative;
    display: inline-block;
    width: calc(100% - 40px);
}

.btn_categories__delite {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #575a5b;
    box-sizing: border-box;
    background-color: #767676;
    outline: none;
    color: #575a5b;
    border-radius: 50%;
    z-index: 1020;
}

.btn_categories__delite:after {
    content: "✖";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: inherit;
    font-size: 26px;
    font-weight: 600;
}

.btn_categories__delite:hover,
.btn_categories__delite:focus {
    color: #f00;
}

.bl_categories__item:hover span {
    text-decoration: underline;
}

.bl_categories__item input {
    opacity: 0;
    visibility: hidden;
}

.bl_categories__item input:checked + span:after {
    content: "✔";
    position: absolute;
    top: -10px;
    left: -20px;
    color: #47d800;
    font-weight: 700;
    font-size: 28px;
    z-index: 3;
}

.bl_categories__item span {
    position: relative;
    font-size: 18px;
    padding-left: 10px;
}

.bl_categories__item span:before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    box-sizing: border-box;

}

.bl_sponsor {
    position: fixed;
    bottom: 0;
    right: 37px;
    padding: 10px;
    background-color: #3c3f41;
    font-size: 16px;
}

.bl_sponsor__icon {
    display: inline-block;
    margin-left: 10px;
    width: 34px;
    height: 34px;
    background: #fff url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44"><style>.st0{fill:#0c4d89}</style><path transform="rotate(-45.001 21.458 22.432)" class="st0" d="M16.8 17.8H26V27h-9.2z" id="Layer_2"/><g id="Layer_3"><path class="st0" d="M30.8 17.8l4.9 4.9-13.5 13.5-5-5-5.1 5 6.3 6.3h7.1l16.8-16.8v-6.1l-6.9-6.5z"/><path fill="#18a1db" d="M25.7 13.5l-4.9-4.9L7.3 22.1l5 5-5 5.1L1 25.9v-7.1L17.8 2h6.1l6.5 6.9z"/></g></svg>') 50% 50% no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 768px) {

    .bl_sponsor {
        display: none;
    }

    #btn_addAdress,
    #btn_filters {
        top: initial;
        bottom: 0;
    }

    .bl_filters {
        right: -150%;
    }

    .bl_addAdress {
        top: 54px;
        left: -155%;
    }

}



