<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}Domains!{% endblock %}</title>

        {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset('css/uikit.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}

            <script src="{{ asset('build/js/uikit.js') }}"></script>
            <script src="{{ asset('build/js/script.js') }}"></script>

        {% endblock %}
    </body>
</html>
